*.d

*.o
*.ko
*.obj
*.elf

*.ilk
*.map
*.exp

*.exe
*.out
*.app
*.i*86
*.x86_64
*.hex
solution

*.dSYM/
*.su
*.idb
*.pdb

.vscode/*
!.vscode/settings.json
!.vscode/tasks.json
!.vscode/launch.json
!.vscode/extensions.json

.vs/
*.sln
*.vcxproj
*.vcxproj.filters
*.vcxproj.user

.idea/
cmake-build-*/
*.iws
*.iml
*.ipr

.DS_Store
.AppleDouble
.LSOverride
._*

Thumbs.db
Thumbs.db:encryptable
ehthumbs.db
ehthumbs_vista.db
[Dd]esktop.ini

*~
.fuse_hidden*
.directory
.Trash-*
.nfs*

*.tmp
*.temp
*.swp
*.swo

core

build/
bin/
obj/
